/* include fonts */
@font-face {
	font-family: 'ysm-fontello';
	src: url('../fonts/fontello.eot?45550639');
	src: url('../fonts/fontello.eot?45550639#iefix') format('embedded-opentype'),
	url('../fonts/fontello.woff2?45550639') format('woff2'),
	url('../fonts/fontello.woff?45550639') format('woff'),
	url('../fonts/fontello.ttf?45550639') format('truetype'),
	url('../fonts/fontello.svg?45550639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* search input */
.ysm_search_widget.ysm-active,
.widget_product_search.ysm-active,
.widget_search.ysm-active {
	overflow: visible;
}

.ysm-search-widget label {
	width: 100%;
	position: relative;
	display: block;
}

.ysm-search-widget .screen-reader-text {
	display: none;
}

.ysm-search-widget .search-field[type="search"] {
	font-style: italic;
	font-size: 14px;
	text-indent: 3px;
	display: inline-block;
	padding: 10px 40px 10px 10px;
	margin: 0;
	width: 100% !important;
	height: initial;
	outline: none;
	border: 1px solid #d6d6d6;
	background-color: transparent;
	color: #aeaeae;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ysm-search-widget .search-field::-webkit-input-placeholder {color: inherit;}
.ysm-search-widget .search-field::-moz-placeholder          {color: inherit;}/* Firefox 19+ */
.ysm-search-widget .search-field:-moz-placeholder           {color: inherit;}/* Firefox 18- */
.ysm-search-widget .search-field:-ms-input-placeholder      {color: inherit;}

.ysm-search-widget .search-field:focus::-webkit-input-placeholder {color: transparent;}
.ysm-search-widget .search-field:focus::-moz-placeholder          {color: transparent;}/* Firefox 19+ */
.ysm-search-widget .search-field:focus:-moz-placeholder           {color: transparent;}/* Firefox 18- */
.ysm-search-widget .search-field:focus:-ms-input-placeholder      {color: transparent;}

.ysm-search-widget.bordered .search-field {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.ysm-search-widget .search-submit {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	padding: 0;
	margin: 0;
	width: 40px;
	text-align: center;
	font-size: 0;
	color: #aaa;
	background: none;
	border: none;
	cursor: pointer;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.ysm-search-widget .search-submit:before {
	display: block;
	color: inherit;
	text-align: center;
	font-size: 17px;
	font-family: 'ysm-fontello';
	line-height: 38px;
	content: '\e800';
	-webkit-transition: color .25s ease;
	transition: color .25s ease;
}

/* results */
.smart-search-results {
	position : absolute;
	overflow: hidden;
}

.smart-search-suggestions {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	border: 1px solid #d6d6d6;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.smart-search-suggestions > .autocomplete-suggestion {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	border-bottom: 1px solid #d6d6d6;
	padding: 5px;
	background: transparent;
}

.smart-search-suggestions > .autocomplete-suggestion:last-child {
	border-bottom: none;
}

.smart-search-suggestions > .autocomplete-suggestion.autocomplete-selected {
	opacity: 0.5;
}

.smart-search-suggestions > .autocomplete-no-suggestion {
	line-height: 40px;
	text-align: center;
}

.smart-search-post {
	padding: 12px 8px;
	display: block;
	color: #333;
}

.smart-search-post:focus {
	outline: none;
}

.smart-search-post-icon {
	max-width: 100%;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	line-height: 1;
}

.autocomplete-suggestion .smart-search-post-icon > img {
	width: 100%;
	height: auto;
}

.smart-search-post-title strong {
	display: inline-block;
}

.smart-search-post-title,
.smart-search-post-excerpt {
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	color: #333;
	line-height: 1.25em;
	word-wrap: normal;
}

.smart-search-post-excerpt {
	margin-top: 10px;
	font-size: 12px;
}

.smart-search-post-date {
	font-size: 12px;
	color: #333;
}

.smart-search-post-price-holder {
	overflow: hidden;
}

.smart-search-post-price {
	float: left;
}

.smart-search-post-sku {
	float: right;
	font-size: 12px;
}

.smart-search-clear {
	clear: both;
}

/* scrollbar */
.smart-search-results.has-scrollbar {
	padding-right: 10px;
}

.smart-search-results.has-scrollbar > .smart-search-suggestions {
	position      : absolute;
	overflow    : auto;
	overflow-x  : hidden;
	-ms-overflow-style: none;
}

.smart-search-results.has-scrollbar.smart-search-firefox > .smart-search-suggestions {
    border-left: none;
    border-right: none;
    width: calc(100% + 17px) !important;
    right: 0 !important;
}

.smart-search-results.has-scrollbar.smart-search-firefox .autocomplete-suggestion {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.smart-search-results > .smart-search-suggestions::-webkit-scrollbar {
	display: none;
}

.has-scrollbar > .smart-search-suggestions::-webkit-scrollbar {
	/*display: block;*/
}

.smart-search-results > .nano-pane {
	background : rgba(0,0,0,.25);
	position   : absolute;
	width      : 10px;
	right      : 0;
	top        : 0;
	bottom     : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity    : .01;
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 5px;
	z-index: 9999;
}
.smart-search-results > .nano-pane > .nano-slider {
	background: #444;
	background: rgba(0,0,0,.5);
	position              : relative;
	margin                : 0 1px;
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;
	border-radius         : 3px;
}
.smart-search-results:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity    : 0.99;
}

/* view all button */
.smart-search-results.has-viewall-button {
	padding-bottom: 30px;
}

.smart-search-results.has-viewall-button .smart-search-suggestions {
	/*padding-bottom: 30px;*/
	bottom: 30px;
}

.smart-search-view-all-holder {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	display: none;
}

.smart-search-view-all-holder > a {
	display: block !important;
	height: 30px;
	line-height: 30px;
	background: #ccc;
	text-align: center;
}

.woocommerce-loop-product__title > strong {
	display: inline !important;
}

.ysm-hide .smart-search-suggestions,
.ysm-hide .smart-search-view-all-holder {
	display: none !important;
}
