/**
 * Text Inputs
 */
.ymapp-settings__content input[type='text'] {
	width: 200px;
}

.ymapp-settings__content textarea {
	width: 400px;
	max-width: 100%;
}

.ymapp-settings__content input[type='text'] {
	padding: 9px;
}