/**
 * Selects
 */
.ymapp-settings__content select {
  width: 200px !important;
}
.select2-container {
  min-width: 200px;
}
.select2-container input{
  min-width: 180px;
}
.select2-dropdown {
  z-index: 999999 !important;
}