/**
 * Tabs, content
 */

#ymapp-settings__nav {
	margin-top: 20px;

	.nav-tab {
		cursor: pointer;
		padding: 16px 30px;
		margin-left: 0;
		margin-right: 0.5em;
		font-size: 18px;
	}

	.nav-tab-active {
		background: #fff;
		border-bottom: 1px solid #fff;
	}

	.nav-tab-active:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.ymapp-settings__content {
	background: #fff;
	padding: 20px;
	min-height: 200px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
}

.ysm-widget-edit-settings > .handlediv {
	float: right;
}

.ysm-widget-edit-settings > .handlediv:after {
	clear: right;
}

.ysm-widget-edit-settings > h2 {
	border-bottom: 1px solid #ccd0d4;
}

.ymapp-settings__title {
	font-size: 16px !important;
	font-style: italic;
	border-bottom: 2px solid #ccd0d4 !important;
	color: #39392d !important;
}
